@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Merriweather-Regular.ttf")
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Merriweather-Bold.ttf")
}

body {
  font-family: "Merriweather";  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.header__logo {
    width: 160px;
}

.header__contant {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.header__nav {
    flex-grow: 1;
}

.header__actions {
    gap: 10px;
    display: flex;
    align-items: center;
}

