@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Merriweather-Bold.ttf");
}

:root {
    --accent-color: #e72b4b;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Merriweather";
}

main {
    flex-grow: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
}

.white-btn {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 14px;
}

ul {
    list-style-type: none;
}

.header {
    background-color: var(--accent-color);
}

.header__logo {
    max-height: 80px;
    width: 160px;
    object-fit: contain;
}

.header__contant {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px 0;
}

.header__nav-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.header__nav {
    flex-grow: 1;
}

.header__actions {
    gap: 10px;
    display: flex;
    align-items: center;
}

.footer {
    padding: 20px 0;
    background-color: var(--accent-color);
}
